@import "./scss/variables/colors.scss";
@import "./scss/variables/margins.scss";
@import "./scss/helpers/mixins.scss";
@import "./scss/variables/columns.scss";
@import "./scss/helpers/functions.scss";
@import "./scss/helpers/reset.scss";
@import "./scss/helpers/devices.scss";







.App{
    width: 100%;
    position: relative;
    margin: 0 auto;
    
}



.container { 
    background-color: $colorBackground;
    margin: $margin;
    ul{
        color: $colorText;
        @include flexbox();
        font-size: xx-large;
    }
    li{
        list-style-type: none;
        cursor: pointer;
        &:hover{
            background-color: $warning;
        }
    }
}

.col-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-contain{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.form-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
