@import "./cscc/variables/colors.scss";
@import "./cscc/variables/margins.scss";
@import "./cscc/helpers/mixins.scss";



.container { 
    background-color: $colorBackground;
    margin: $margin;
    ul{
        color: $colorText;
        @include flexbox();
        font-size: xx-large;
    }
    li{
        list-style-type: none;
    }
}
